name: Android Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [com.YoStarJP.AzurLane]
    env:
      DOWNLOAD_DIR: ${{ github.workspace }}/downloads
      BUILD_DIR: ${{ github.workspace }}/build
      OUTPUT_DIR: ${{ github.workspace }}/output

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install Build Tools
      run: |
        yes | sdkmanager --install "build-tools;35.0.0"
        echo "$ANDROID_HOME/build-tools/35.0.0" >> "$GITHUB_PATH"

    - name: Create directories
      run: |
        mkdir -p $DOWNLOAD_DIR
        mkdir -p $BUILD_DIR
        mkdir -p $OUTPUT_DIR

    - name: Download apkeep
      uses: robinraju/release-downloader@v1.10
      with:
        repository: EFForg/apkeep
        tag: 0.16.0
        fileName: apkeep-x86_64-unknown-linux-gnu

    - name: Download apktool
      uses: robinraju/release-downloader@v1.10
      with:
        repository: iBotPeaches/Apktool
        tag: v2.9.3
        fileName: apktool_2.9.3.jar

    - name: Download patch
      uses: robinraju/release-downloader@v1.10
      with:
        repository: JMBQ/azurlane
        latest: true
        fileName: "MOD*.zip"

    - name: Setup tools
      run: |
        mv apktool_2.9.3.jar $DOWNLOAD_DIR/apktool.jar
        mv apkeep-x86_64-unknown-linux-gnu /usr/local/bin/apkeep
        unzip -q MOD*.zip -d $DOWNLOAD_DIR/patches
        chmod +x /usr/local/bin/apkeep

    - name: Download APK
      env:
        PACKAGE_NAME: ${{ matrix.package }}
      run: |
        apkeep -a $PACKAGE_NAME $DOWNLOAD_DIR/
        unzip -q $DOWNLOAD_DIR/${PACKAGE_NAME}.xapk -d $DOWNLOAD_DIR

    - name: Patch APK
      env:
        PACKAGE_NAME: ${{ matrix.package }}
      run: |
        cd $BUILD_DIR
        cp $DOWNLOAD_DIR/${PACKAGE_NAME}.apk ${PACKAGE_NAME}.apk
        java -jar $DOWNLOAD_DIR/apktool.jar d ${PACKAGE_NAME}.apk
        
        cd ${PACKAGE_NAME}
        echo "Copying patch files..."
        cp -r $DOWNLOAD_DIR/patches/assets .
        cp -r $DOWNLOAD_DIR/patches/smali* .

        echo "Hooking UnityPlayerActivity.smali..."
        UNITY_SMALI_FILE=$(find . -type f -name "UnityPlayerActivity.smali")
        if [ -z "${UNITY_SMALI_FILE}" ]; then
            echo "Error: UnityPlayerActivity.smali not found!"
            exit 1
        fi

        sed -i -e "/\.method public constructor <init>()V/,/\.end method/{" \
              -e "/\.locals 0/a\    invoke-static {}, Lcom/android/support/Main;->Start()V" \
              -e "}" "${UNITY_SMALI_FILE}" || {
            echo "Error: Failed to hook into UnityPlayerActivity.smali"
            exit 1
        }

        echo "Hiding icon in Menu.smali..."
        MENU_SMALI_FILE=$(find . -type f -name "Menu.smali")
        if [ -z "${MENU_SMALI_FILE}" ]; then
            echo "Error: Menu.smali not found!"
            exit 1
        fi

        sed -i '\|invoke-virtual {v0, v2}, Landroid/widget/FrameLayout;->addView(Landroid/view/View;)V|d'  "$MENU_SMALI_FILE" || {
            echo "Error: Failed to hide icon"
            exit 1
        }

        echo "Updating overlays in AndroidManifest.xml..."
        sed -i 's#</application>#    <service android:name="com.android.support.Launcher" android:enabled="true" android:exported="false" android:stopWithTask="true"/>\n    </application>\n    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>#' AndroidManifest.xml || {
            echo "Error: Failed to update overlays"
            exit 1
        }
        
        cd ..
        echo "Rebuilding APK..."
        java -jar $DOWNLOAD_DIR/apktool.jar -q -f b $PACKAGE_NAME -o $PACKAGE_NAME.patched.apk

    - name: Sign APK
      env:
        PACKAGE_NAME: ${{ matrix.package }}
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      run: |
        echo "$KEYSTORE_BASE64" | base64 -d > keystore.jks
        zipalign -pf 4 $BUILD_DIR/$PACKAGE_NAME.patched.apk $BUILD_DIR/$PACKAGE_NAME.aligned.apk
        apksigner sign --ks keystore.jks --ks-pass env:KEYSTORE_PASSWORD $BUILD_DIR/$PACKAGE_NAME.aligned.apk

    - name: Prepare Upload
      env:
        PACKAGE_NAME: ${{ matrix.package }}
      run: |
        mv $BUILD_DIR/$PACKAGE_NAME.aligned.apk $OUTPUT_DIR/$PACKAGE_NAME.apk

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.package }}
        path: ${{ github.workspace }}/output/*
